@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    width : 100%;
    height : 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
#main{
    position:relative;
    width : 50%;
    height : 90%;
    margin: 0;
    padding: 0;
}

#main_canvas_0, #main_canvas_1{
    position:absolute;
    margin: 0;
    padding: 0;
    /*
    width : 100%;
    height : 100%;*/
}